@import "tailwindcss";

@layer components {
  .grid-bg {
    min-height: 100vh;
    /* background-color: #f0f4ff; */
    background-image:
      linear-gradient(to right, #3b82f620 1px, transparent 1px),
      linear-gradient(to bottom, #3b82f620 1px, transparent 1px);
    background-size: 20px 20px;
  }

  .dark .grid-bg {
    background-color: #0f172a;
    background-image:
      linear-gradient(to right, #3b82f630 1px, transparent 1px),
      linear-gradient(to bottom, #3b82f630 1px, transparent 1px);
  }
}


body{
  background: whitesmoke;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #64aaff;
}

a:hover {
  color: #c6bbf9;
}
.no-scrollbar{
    scrollbar-width: thin;
  scrollbar-color: #88888800 transparent;
}